node_modules

# Local environment files and secrets
.env
.env.*
!.env.example
!.env.*.example
*.log


# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
