# MongoDB Configuration
MONGODB_URI=your-mongodb-uri
MONGODB_DB=your-mongodb-database

# NextAuth Configuration
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# Blockchain Configuration
NEXT_PUBLIC_RPC_URL=https://polygon-amoy.drpc.org
NEXT_PRIVATE_RPC_URL=https://polygon-amoy.infura.io/v3/your-project-id
NEXT_PUBLIC_CONTRACT_ADDRESS=your-contract-address

PRIVATE_KEY=your-private-key
ADMIN_PRIVATE_KEY=your-admin-private-key
ADMIN_ADDRESS=your-admin-address
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=choose-a-strong-password

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Subscription Configuration
SUBSCRIPTION_CODE=your-subscription-code
